pipeline/PL_set variable activity3.json
{
	"name": "PL_set variable activity3",
	"properties": {
		"activities": [
			{
				"name": "Set v1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v1",
					"value": "Azure"
				}
			},
			{
				"name": "Set v2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set v1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v2",
					"value": "Data"
				}
			},
			{
				"name": "Set v3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set v2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v3",
					"value": "Eng"
				}
			},
			{
				"name": "Set course",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set v3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "course",
					"value": {
						"value": "@concat(variables('v1'),' ',variables('v2'),' ',variables('v3'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v1": {
				"type": "String"
			},
			"v2": {
				"type": "String"
			},
			"v3": {
				"type": "String"
			},
			"course": {
				"type": "String"
			}
		},
		"annotations": []
	}
}